.blog__section{
    display: flex;
    flex-direction: column;

}
.blog__section-heading{
    margin-bottom: 2rem;
}
.blog__section-heading h1{
    font-family: var(--font-family);
        font-weight: 800;
        font-size: 62px;
        line-height: 75px;
        letter-spacing: -0.04em;
}
.blog__section-container{
    display: flex;
    flex-direction: row;
}
.blog__section-container_groupA{
    flex: 0.76;
    margin-right: 1rem;
}
.blog__section-container_groupB{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
}

@media screen and (max-width:1200px) {
    .blog__section-container{
        flex-direction: column;
    }
        .blog__section-container_groupA{
            margin-right: 0;
            margin-bottom: 1rem;
        }

}
@media screen and (max-width:750px){
    .blog__section-heading h1{
        font-size: 50px;
    }
.blog__section-container_groupB{
    display: flex;
    flex-direction: column;
}
}